
.tooltip {
    display: inline;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .bottom {
    min-width:50px; 
    top:40px;
    left:50%;
    transform:translate(-25%, 50%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:50;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:block;
    opacity: 0;
}

.tooltip:hover .bottom {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.tooltip:hover .bottom::after {
    content: '';
    position: absolute;
    left: 40%;
    top: -10%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom:10px solid #e8e8e8;
    clear: both;
}


.tooltip .bottom .span {
    display: block;
    font-size: medium;
}